.footer {
  background-color: #27273e;
  min-width: 1100px;
  height: 77px;
  font-family: "Gotham Pro";
}

.footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  text-align: left;
  margin-top: 14px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.social-networks {
  margin-top: 20px;
}

.social-networks__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.social-networks__list {
  font-size: 0;
  display: flex;
}

.social-networl__link {
  background-color: #d4d4d8;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 7px;
  transition: .3s;
}

.social-networl__link--background-color {

}

.social-networl__icon {
  position: relative;
}

.social-networl__icon:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: no-repeat;
}

.social-networl__link--vk::after {
  width: 12px; height: 7px;
  background: url('../../images/sprites/socials_icons.png') -41px -39px;
}

.social-networl__link--fb::after {
  width: 6px; height: 13px;
  background: url('../../images/sprites/socials_icons.png') -77px -10px;
}

.social-networl__link--google::after {
  width: 15px; height: 9px;
  background: url('../../images/sprites/socials_icons.png') -10px -10px;
}

.social-networl__link--twitter::after {
  width: 11px; height: 9px;
  background: url('../../images/sprites/socials_icons.png') -10px -39px;
}

.social-networl__link--mail::after {
  width: 12px; height: 9px;
  background: url('../../images/sprites/socials_icons.png') -45px -10px;
}

.social-networl__link:hover {
  background: #ec1e79;
}

.strong {
  font-weight: 700;
}