.section-title--partners {
  margin-bottom: 52px;
}

.partners {
  margin-top: 7px;
  /* margin-bottom: 32px; */
}

.partner__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.partner__item {
  margin-right: 122px;
  margin-bottom: 52px;
}

.partner__item:nth-child(n+4) {
  margin-bottom: 16px;
}

.parner__logo {
  filter: grayscale(100%);
}

.parner__logo:hover {
  filter: grayscale(0);
}