.pattern {
  background: #27273e;
  position: relative;
}

.pattern__picture {
  background-image: url('../../images/banner/pattern.png');
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pattern__text {
  max-width: 611px;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 18px;
  line-height: 30px;
}

.pattern__text-red {
  color: #ec1e79;
  font-weight: 700;
}